run = "npm run dev"
modules = ["c-clang14", "cpp-clang14", "nodejs-20", "python-3.12"]

[nix]
channel = "stable-24_05"

[env]
XDG_CONFIG_HOME = "/home/runner/.config"

[packager]
language = "nodejs"

[packager.features]
packageSearch = true
guessImports = true
enabledForHosting = false

[languages]

[languages.javascript]
pattern = "**/{*.js,*.jsx,*.ts,*.tsx}"

[languages.javascript.languageServer]
start = "typescript-language-server --stdio"

[[ports]]
localPort = 3000
externalPort = 80
exposeLocalhost = true

[[ports]]
localPort = 3001
externalPort = 3001

[[ports]]
localPort = 3002
externalPort = 3002

[deployment]
deploymentTarget = "cloudrun"
run = ["sh", "-c", "npm run dev"]

[auth]
pageEnabled = false
buttonEnabled = false

[workflows]
runButton = "Start Dev Server"

[[workflows.workflow]]
name = "Start Dev Server"
author = 13011877
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm install"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "concurrently \"node index.js\" \"npm run build && vite --host 0.0.0.0\""
